<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>news</title>
</head>
<body>
{include file=$header}
    <div class="news-box">
        <h3>新闻中心</h3>
        <div>新闻中心描述</div>
        <h3>
            <a href="">链接一</a>
            <a href="">链接二</a>
            <a href="">链接三</a>
        </h3>
        <div class="list-box">
            <div class="list">
                <img src="{IMG_ADD}list.jpg" alt="">

            </div>
        </div>
    </div>
{include file=$footer}
</body>
</html>